PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@host/db"
NEXTAUTH_SECRET="secret"
FRONTEND_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
RESEND_API_KEY=""
SMTP_EMAIL=""
SMTP_PASSWORD=""
